<h1 class='mt-4 mx-3'>Admin Home</h1>
<div class="container align-content-xl-center">
<div class="container mb-5">
    <a href="~/Dashboard/Index" class="btn btn-danger">View/Add List Of Donor</a>
</div>
<div class="container mb-5">
    <a href="~/Dashboard/ViewReq" class="btn btn-danger">View List of Blood Requirements</a>
</div>